{#=====================================================
  Help page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <h2>Sign Up</h2>

    <form method="post" action="/message/post_message">
    
        <label>
            Title
            <input type = "text" name = "title" required>
        </label>

        <label>
            Text
            <input type = "text" name = "body" required>
        </label>


        <button>Submit</button>
    </form>



{% endblock %}

