{#=====================================================
  Help page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <h2>Edit</h2>

    <form method="post" action="/message/{{ message.id }}/edit">
    
        <label>
            Title
            <input name="title" type="text" value="{{ message.title }}" required>
        </label>

        <label>
            Body
            <textarea name="body" required>{{ message.body }}</textarea>
        </label>


        <button>Submit</button>
    </form>



{% endblock %}

